<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kalvi_000.finalproject" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- It is possible that a line needs to be added that allows permission to th main wear activity or vice a versa
    also can try looking into signing the two apps the same through the manifest
    whether it is through the same key or something
    <permission android:name="com.kalvi_000.finalprojectwear.MainActivityWear"/>
    -->

    <!-- These permissions are attempting to get the message to come through from wear -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <!-- This defines that this service is bound to the listener to receive all incoming evenets from wearable
        regardless of source, not recommended anymore but it is still technically functional-->
        <service
            android:name=".WearListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EnterMatches">
            <!--This intent allows the dynamic shortcut manager to open the activity from the shortcut -->
            <intent-filter>
                <action android:name="com.kalvi_000.finalproject.OPEN_DYNAMIC_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ViewMatches" >
            <!--This intent allows the dynamic shortcut manager to open the activity from the shortcut -->
            <intent-filter>
                <action android:name="com.kalvi_000.finalproject.OPEN_DYNAMIC_SHORTCUT_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".UpdateViewMatches" />

        <activity android:name=".RandomCardWebView" />

        <activity android:name=".ScrollActivity"/>
    </application>

</manifest>